{% extends "layout.html" %}

{% from 'checkboxes/macro.njk' import checkboxes %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/magical-powers",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/power-types-answer" method="post" novalidate>

       {% from 'textarea/macro.njk' import textarea %}
{{ checkboxes({
  idPrefix: "powers",
  name: "powers",
  values: data.powers,
  fieldset: {
    legend: {
      text: "Do you have any of these magic powers?",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all the powers you have"
  },
  items: [
    {
      value: "Invisibility",
      text: "Invisibility"
    },
    {
      value: "Leviation or flying",
      text: "Leviation or flying"
    },
    {
      value: "Shoot lasers",
      text: "Shooting lasers"
    },
    {
      value: "Jira master",
      text: "Completing 20 Jira tickets in one sprint"
    },
    {
      divider: "or"
    },
    {
      value: "Other",
      text: "No, I have other powers",
      exclusive: true
    }
  ]
}) }}
        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
